/*https://colorhunt.co/palette/a3ddcbe8e9a1e6b566e5707e*/
:root {
  --red: #d15858;
  --orange: #E6B566;
  --yellow: #dddf8b;
  --blue: #A3DDCB;
  --green: #9bd47a;
  --darkGrey: rgba(22, 22, 22, 0.856);
}

* {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2px;
}

nav {
  width: 100vw;
  height: 10vh;
  top: 0%;
  background: var(--red);
  display: flex;
  transition: all 0.2s linear;
}

#logo {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#navOptions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 75%;
  height: 100%;
}

.fixed {
  position: fixed;
}

.hidden {
  opacity: 0%;
}

.hidden:hover {
  opacity: 100%;
}

#sectionsWrapper {
  padding: none;
  margin: 0px;
  box-sizing: border-box;
  height: auto;
}

#sectionsContainer {
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

section {
  height: 100vh;
  min-width: 100vw;
  font-size: 2rem;
  color: white;
  font-weight: bold;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
}

.sec1 {
  background: var(--orange);
  height: 90vh;
}

.sec2 {
  background: var(--blue);
}

.sec3 {
  background: var(--green);
}

.sec4 {
  background: var(--yellow);
}

#aboutMe{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#aboutContainer {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 90%;
  height: 80%;
  color: var(--darkGrey);
}

#aboutContainer h1 {
  font-size: 3rem;
}

#aboutMe button {
  font-size: 3.5rem;
}

.title {
  width: 100%;
  height: auto;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: -5px 5px 15px var(--darkGrey);
}

.line {
  height: 3px;
  width: 15%;
  background: white;
  box-shadow: -5px 5px 15px var(--darkGrey);
}

#portfolioContent {
  display: flex;
  width: 100%;
  height: 100%;
}

#carouselContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#projectsCarousel {
  width: 95vw;
  height: 85vh;
}

.carousel-cell {
  margin-right: 20px;
  width: 50vw;
  height: inherit;
  overflow: hidden;
}

.carousel-cell img {
  display: block;
  height: 55vh;
}

.projectDescription {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  font-size: 3rem;
  color: var(--darkGrey)
}

.projectDescription p {
  font-size: 1.3rem;
}

.buttons button {
  font-size: 1.1rem;
  cursor: pointer;
}

#skillsContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.row {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.row img {
  width: 25%;
  max-width: 200px;
  transition: all 0.2s linear;
}

.row img:hover {
  transform: scale(1.1);
}

.row img:active {
  transform: scale(0.9);
}

footer {
  width: 100vw;
  height: 10vh;
  bottom: 0%;
  background: var(--red);
  display: none;
  transition: all 0.2s linear;
  justify-content: center;
  align-items: center;
}