/*https://colorhunt.co/palette/a3ddcbe8e9a1e6b566e5707e*/
:root {
  --red: #d15858;
  --orange: #E6B566;
  --yellow: #dddf8b;
  --blue: #A3DDCB;
  --green: #9bd47a;
  --darkGrey: rgba(22, 22, 22, 0.856);
}

* {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
}

nav {
  width: 100vw;
  height: 10vh;
  top: 0%;
  background: var(--red);
  display: flex;
  transition: all 0.2s linear;
  z-index: 999;
}

.logo {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-shadow: -2px 2px 1px var(--darkGrey);
}

#navOptions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
  height: 100%;
}

#mobileNav {
  display: none;
}

#mobileBurger {
  display: none;
}

li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
}

li a:hover {
  color: var(--darkGrey);
}

.fixed {
  position: fixed;
}

.hidden {
  opacity: 0%;
}

.hidden:hover {
  opacity: 100%;
}

#sectionsWrapper {
  padding: none;
  margin: 0px;
  box-sizing: border-box;
  height: auto;
}

#sectionsContainer {
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

section {
  height: 100vh;
  min-width: 100vw;
  font-size: 2rem;
  color: white;
  font-weight: bold;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
}

.sec1 {
  background: var(--orange);
  height: 90vh;
}

.sec2 {
  background: var(--blue);
}

.sec3 {
  background: var(--green);
}

.sec4 {
  background: var(--yellow);
}

#aboutMe{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

#aboutContainer {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  max-width: 1000px;
  height: 80%;
  color: var(--darkGrey);
}

#aboutContainer p {
  font-size: 1.75rem;
}

#aboutMe button {
  font-size: 3.5rem;
}

.title {
  width: 100%;
  height: auto;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: -5px 5px 15px var(--darkGrey);
}

.title h2 {
  padding: 0px 15px 0px 15px;
}

.line {
  height: 3px;
  width: 15%;
  background: white;
  box-shadow: -5px 5px 15px var(--darkGrey);
}

#portfolioContent {
  display: flex;
  width: 100%;
  height: 100%;
}

#carouselContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#projectsCarousel {
  width: 95vw;
  height: 80vh;
  /* max-height: 700px; */
  max-width: 1100px;
}

.carousel-cell {
  margin-right: 20px;
  width: 50vw;
  max-width: 600px;
  height: inherit;
  overflow: hidden;
}

.carousel-cell img {
  display: block;
  height: 50vh;
  max-height: 500px;
}

.projectDescription {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  font-size: 2.5rem;
  max-width: 600px;
  color: var(--darkGrey);
}

.projectDescription p {
  font-size: 1.3rem;
}

.buttons button {
  font-size: 1.1rem;
  cursor: pointer;
}

#skillsContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.row {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.row img  {
  width: 25%;
  max-width: 200px;
  transition: all 0.2s linear;
  cursor: crosshair;
}

.row a img {
  width: 25vw;
  max-width: 200px;
  transition: all 0.2s linear;
  border-radius: 60px;
  cursor: pointer;
}

.row img:hover {
  transform: scale(1.05);
}

.row img:active {
  transform: scale(0.95);
}

.row a img:active{
  background: white;
}

footer {
  width: 100vw;
  height: 10vh;
  bottom: 0%;
  background: var(--red);
  display: none;
  transition: all 0.2s linear;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.theButtons {
  border-radius: 4px;
  background: var(--darkGrey);
  color: white;
  box-shadow: -2px 2px 3px var(--darkGrey);
  border: none;
  padding: 5px;
  cursor: pointer;
  transition: all 0.1s linear;
}

.theButtons:hover {
  background: rgb(78, 78, 78);
  color: var(--darkGrey);
}

.theButtons:active {
  box-shadow: 0px 0px 0px;
  transform: translate(2px 2px);
}

@media screen and (max-width: 700px){
  .title {
    font-size: 2rem;
  }
  .title h2 {
    padding: 0px 5px 0px 5px;
  }
  #aboutContainer p {
    font-size: 1rem;
  }
  #aboutMe button {
    font-size: 1.5rem;
  }
  .projectDescription {
    font-size: 1.5rem;
    width: 95vw
  }
  .projectDescription p {
    font-size: 1rem;
  }
  .carousel-cell {
    width: 100vw;
  }
  .row img  {
    width: 30%;
  }
  .row a img {
    width: 30vw;
  }
  .line {
    width: 10%;
  }
  .logo {
    width: 75%;
  }
  #navOptions {
    display: none;
  }
  #mobileNav {
    width: 30vw;
    height: 20%;
    background: var(--red);
    display: flex;
    position: absolute;
    flex-direction: column;
    right: 0%;
    top: 10%; 
    visibility: hidden;
    z-index: 998;
    align-items: center;
    justify-content: space-evenly;
  }
  #mobileBurger {
    display: flex;
    width: 25%;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: white;
    transition: all 0.3s linear;
    cursor: pointer;
  }
  .rotate {
    transform: rotate(90deg)
  }
  .slideDown{
    animation-name: slideDown;
    animation-duration: 1s;
    animation-timing-function: ease;
    visibility: visible !important;
  }
  /* slideDown animation from https://codepen.io/sarfaraz72/pen/KEYeQz */
  @keyframes slideDown {
    0% {
      transform: translateY(-110%);
    }
    50%{
      transform: translateY(8%);
    }
    65%{
      transform: translateY(-4%);
    }
    80%{
      transform: translateY(4%);
    }
    95%{
      transform: translateY(-2%);
    }			
    100% {
      transform: translateY(0%);
    }		
  }
}